.reservation-container .container-sm {
  width: 500px;
  border: 2px solid black;
  float: right;
  display: block;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 20px;
}

.reservation-container .btn-primary {
  display: inline-block;
  width: 100px;
  margin: 5px;
}
.reservation-container .btn {
  display: inline-block;
  margin-bottom: 10px;
}
.reservation-container .reserveimg {
  display: block;
  margin-left: 4%;
  margin-top: 5%;
  margin-right: auto;
  width: 50%;
  height: 580px;
  border-radius: 20px;
  float: left;
}
.form-control {
  height: 35px;
  width: 300px;
  display: flex;
}
.reservation-container .lable {
  display: flex;
  text-align: center;

  float: left;
  width: 25%;
  margin-top: 6px;
}

.view-reservation-container .btn-warning {
  display: inline-block;
  margin-bottom: 10px;
  width: 50px;
  margin: 5px;
  height: 30px;
  padding-bottom: 30px;
}
.view-reservation-container .btn-danger {
  display: inline-block;
  margin-bottom: 10px;
  width: 50px;
  margin: 5px;
  height: 30px;
  padding-bottom: 30px;
}
.AddBtn {
  padding: 10px;
  margin-top: 25px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #047baa;
  color: white;
}
